*{
    box-sizing: border-box;
}
body{
    min-width: 400px;
    margin: auto;
    position: absolute;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

.menu{
    height: 40px;
    padding-left: 90%;
}
.one{
    border-radius: 0;
    height: 100%;
}
section.two{
    display: flex;
    background-image: url(https://github.com/sbo2401/stage3/raw/main/img/1.jpg);
    height: 100%;
    background-size: cover;
    background-position:center;
    margin: 0 auto;
    position: relative;
}
div.two{
    min-height: 767px;
    position: relative;
    margin: 0 auto;
    width: 1140px;
}
div.eight{
    padding: 265px 0 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
h4.eight{
    color: white;
    margin: 0;
    font-size: 3.625rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}
h1.eight{
    color: white;
    margin: 0;
    font-size: 5.9rem;
    text-transform: uppercase;
    font-weight: 700;
}
#hr{
    margin:30px auto 0 0; 
    width: 470px;
    height: 12px;
    border: 0px;
    background-color: white;
}
div.svg{
    display: flex;
    color: white;
    margin-top: 40px;
}
section.s2{
    background-color: #f2f2f2;
    color: black;
    text-align: center;
}
div.s2{
    font-family: 'open-sans', sans-serif;
    min-height:535px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 950px;
    margin: 0 auto;
}
h5.s2{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
}
h1.s2{
    text-transform: capitalize;
    margin: 25px auto;
    font-size: 45px;
    font-weight: 700;
}
p.s2{
    font-size: 20px;
    font-weight: 300;
    margin: 20px auto 0;
    width: 950px; 
}
a.s2{
    background-color: #e71a23;
    color: white;
    padding: 16px 36px;
    margin: 30px auto 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1.3;
    border: 0px;
    border-radius: 3px;
}
a:hover{
    background-color: #D1161E;
}
section.s3{
    background-color: white;
}
div.s3{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 60px auto;
}
div.s4{
    display: flex;
    flex-direction: column;
    margin: -15px;
    position: relative;
}
div.s5{
    display: flex;
    flex-direction: column;
    margin-left: 520px;
    margin-right: -13px;
}
img.s5{
    max-height: 388px;
    max-width: 522px;
    margin-top: 100px;
}
.text{
    text-align: left;
}
div.text{
    border: 15px solid transparent;
    margin-top: -500px;
    padding: 20px 0 0 0;
}
h2.text{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize;
}
h3.text{
    font-size: 40px;
    color: #e71a23;
    margin: 20px 1px 0;
}
img.s3{
    max-width: 522px;
    max-height: 388px;
}
p.s3{
    width: 430px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
section.s6{
    background-color: #D8D6DB;
}
div.s6{
    background-image: url(https://github.com/sbo2401/stage3/raw/main/img/4.png);
    display: flex;
    min-height: 908px;
    background-repeat: no-repeat;
    border: 15px solid transparent;
}
div.text2{
    border: 15px solid transparent;
    margin-left: 690px;
    margin-top: 140px;
    text-align: left;
    line-height: 1.1;
}
h2.s6{
    color: #104e92;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
    margin: 135px 0 0;
}
p.s6{
    font-size: 25px;
    margin: 30px 0 0;
    width: 570px;
}
#hr1{
    background-color:#e71a23;
    margin: 30px auto 0 0;
    height: 20px;
    border: 0px;
    width: 520px;
}
section.s7{
    background-color: white;
    line-height: 1.6;
}
div.s7{
    display: flex;
    flex-direction: column;
}
h1.s7{
    font-size: 55px;
    margin: 60px 831px 0 0;
    text-align: center;
}
div.paint{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
div.clean{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
div.plumb{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
h5.svg{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}
div.s9{
    display: flex;
    margin-left: 70px;

}
div.paints{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
h4.paints{
    padding: 0;
    margin: 20px 0 0;
    font-weight: 700;
    font-size: 25px;
}
p.paints{
    font-size: 20px;
    font-style: italic;
    margin: 20px 0 0;
    width: 344px;
}
span.paints{
    border-radius: 50%;
    background-color: #e71a23;
    width: 90px;
    height: 90px;
    padding: 24px;
}
section.s10{
    background-color: #104e92;
    color: white;
}
div.s10t{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    width: 120px;
    margin-left: 50px;
    top: 145px;
    left: 150px;
}
h3.s10t{
    margin-top: 0;
    font-size: 80px;
    font-weight: 400;
}
h6.s10t{
    margin-top: 40px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 100;
}
div.images{
    position: relative;
    margin-left:700px;
    padding-bottom: 50px;
    margin-top: -290px;
}
div.s10p{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
div.s10p1{
    display: flex;
    flex-direction: unset;
    margin-top: 30px;
}
div.img1{
    display: flex;
}
img.img1{
    width: 241px;
    height: 222px;
    margin-right: 25px;
}
div.img2{
    display: flex;
}
img.img2{
    width: 241px;
    height: 222px;
}
div.img3{
    display: flex;
}
img.img3{
    width: 241px;
    height: 222px;
    margin-right: 25px;
}
div.img4{
    display: flex;
}
img.img4{
    width: 241px;
    height: 222px;
}
section.new{
    background-color: white;
}
div.new3{
    text-align: center;
}
div.new4{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    justify-content: center;
    text-align: center;
    width:692px;
    margin:auto;
}
h2.new4{
    font-weight: 700;
    font-size: 35px;
}
p.new4{
    font-size: 35px;
    font-weight: 100;
    margin-top: 0;
}
div.btn{
    display: flex;
    margin-top: -50px;
}
a.call{
    background-color: white;
    color: #454545;
    padding: 16px 36px;
    margin: 30px auto 60px -480px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.3;
    border: 1px solid;
    border-radius: 3px;
}
section.foot{
    color:white;
    background-color: #333333;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.foot{
    margin: 0 auto;
    
}
p.foot{
    width: 417px;
    margin: 49px auto;
    font-size: 15px;
}
section.end{
    background-color: #333333;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
a.link{
    text-decoration: underline;
    display: inline-block;
    color: #abcff7;
}
p.nice{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width:1600px){
    #very-close{
        background-color: rgb(16,78,146);
        padding: 50px 70px;
    }
    #inside{
        
        display: initial;
        width: 100%;
        margin-left: 30px;
      
    }
    .imager{
        padding-top: 20px;
        padding-right: 20px;
        width: 16%;
        height: 210px;
        min-width: 250px;
    }
    #lefte{
        padding-top: 50px;
        color: white;
        padding-right: 70px;
        display: block;
    }
    #first{
        font-size: 20px;
        margin-bottom: 40px;
    }
    #second{
        font-size: 80px;
    }
    .opt{
        width: 300px
        
    }
    #middle{
        margin: 30px;
    }
    
}
@media(max-width:900px){
    #semi-top{
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
        height: 600px;
}
#hr{
    display: none;
    
}
button{
    margin-bottom: 20px;
    padding: 19px 17px;

}
.none{
    display: none;
}
#letters{
    font-size: 28px;
}
#service{
    font-size: 24px;
}
.opt{
    width: 220px;
    height: 200px;
    
}
#left{
    width: 10%;
}
#right{
    margin-top: 300px;
}
#newbut{
    background-color: white;
    color: black;
    padding: 16px 25px; 
    border: 1px solid black;
    letter-spacing: normal;
    margin-left: 11px;

}
#end{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 55%;
    font-size: 15px;
    margin: auto;
    text-align: center;
    color: white;
}
}
